@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');
body{
  margin: 0;
  padding: 0;
  background-color: #feffff;
  font-family: 'Edu SA Beginner', sans-serif;
  color: #5d5d5d;
}

h2 {
  margin: 0;
}

nav{
  height: 30px;
  margin-top: 0;
  margin-bottom: 20px;

}

form {
  background-color: #eaeaea;
  display: grid;
  margin: 2%;
  padding: 20px;
  border-radius: 2%;
}

#blog-list {
padding: 30px 45px;
background-color:#eaeaea;
border-radius: 10px;
margin: 2%;
}

button {
  margin-top: 20px;
  width: 15%;
  margin: 0 auto;
  text-align: center;
  font-size: 21px;
  background-color: rgb(98, 98, 251);
  color: #fff;
  border-radius: px;
  border: none;
  font-family: 'Edu SA Beginner',sans-serif;
}

label {
  padding: 5px;
  text-align: center;
  font-size: 28px;
}


#post-title{
  margin: 0 auto;
  width: 85%;
  padding: 5px;
  font-size: 18px;
}

#post-body{
  margin-bottom: 20px;
  font-size: 22px;
}

textarea {
  margin: 0 auto;
  width: 85%;
  height: 80px;
}